
  .tooltipi {
    position: relative;
    cursor: pointer;
    color: red; /* Couleur du lien ou mot */
    /*text-decoration: underline;  Facultatif */
    font-style: italic;
  }

  .toto {
    content: attr(data-tooltip);
    /*white-space: pre-wrap; /* Permet de conserver les sauts de ligne */
    /*white-space: pre-line;*/
    position: absolute;
    background: #333; /* Couleur de fond de l'infobulle */
    color: #fff; /* Couleur du texte */
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
    top: 100%; /* Positionner en dessous */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .titi {
    content: "";
    position: absolute;
    top: 100%; /* Positionner la flèche en dessous */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    z-index: 1000;
  }

  .emfase {
    font-weight: bold;
  }


  .fr {
    color: #0056b3; /* Bleu pour le français */
  }
  
  .it {
    color: #1e7e34; /* Vert pour l'italien */
  }
  
  .es {
    color: #b02a37; /* Rouge pour l'espagnol */
  }
  
  .po {
    color: #d39e00; /* Jaune pour le portugais */
  }
  
  .ro {
    color: #5a189a; /* Violet pour le roumain */
  }
  
  .co {
    color: #23272b; /* Gris anthracite pour le corse */
  }
  

  /* Style pour l'image de fond */
  .header-banner {
    position: relative;
    width: 100%;
    height: 100vh; /* Le bandeau occupe toute la hauteur de la fenêtre */
    background-image: url('images/bandeau.jpg'); /* Chemin vers ton image */
    background-size: cover; /* L'image couvre tout l'espace */
    background-position: center; /* Centre l'image */
    z-index: -1; /* Met l'image derrière le contenu */
    overflow: hidden; /* Évite tout dépassement horizontal */
}
/* Contenu général */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Évite le scroll horizontal */
}
.content {
    position: relative;
    z-index: 1; /* Le contenu passe au-dessus de l'image */
    padding: 2rem;
}