
  .tooltipi {
    position: relative;
    cursor: pointer;
    color: red; /* Couleur du lien ou mot */
    /*text-decoration: underline;  Facultatif */
    font-style: italic;
  }

  .toto {
    content: attr(data-tooltip);
    /*white-space: pre-wrap; /* Permet de conserver les sauts de ligne */
    /*white-space: pre-line;*/
    position: absolute;
    background: #333; /* Couleur de fond de l'infobulle */
    color: #fff; /* Couleur du texte */
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
    top: 100%; /* Positionner en dessous */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .titi {
    content: "";
    position: absolute;
    top: 100%; /* Positionner la flèche en dessous */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    z-index: 1000;
  }

