
  .tooltip {
    position: relative;
    cursor: pointer;
    color: #007bff; /* Couleur du lien ou mot */
    text-decoration: underline; /* Facultatif */
  }

  .tooltip:hover::after {
    content: attr(data-tooltip);
    white-space: pre-wrap; /* Permet de conserver les sauts de ligne */
    position: absolute;
    background: #333; /* Couleur de fond de l'infobulle */
    color: #333; /* Couleur du texte */
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
    top: 100%; /* Positionner en dessous */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .tooltip:hover::before {
    content: "";
    position: absolute;
    top: 100%; /* Positionner la flèche en dessous */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    z-index: 1000;
  }

